<app-weather></app-weather>

<!-- <img
  src="https://i.pinimg.com/originals/f9/aa/a4/f9aaa4a9a402503edd577d665fb22d5b.gif"
  alt="Описание анимации"
/> -->

<p class="name">
  Name: {{ user.name.first }} {{ user.name.last }} ({{ user.name.title }})
</p>
<p class="badge">Gender: {{ user.gender }}</p>
<p class="badge">Location: {{ user.location.city }}</p>
<p class="badge">Email: {{ user.email }}</p>

<img [src]="user.picture.large" alt="avatar" />

<!-- <app-user-weather [user]="selectedUser"></app-user-weather> -->
