<div class="container">
  <div *ngIf="user?.name" class="user-card">
    <app-card [user]="user"></app-card>

    <button type="button" (click)="onSave()">Save</button>
  </div>

  <div *ngIf="!user?.name">
    <img
      src="https://i.pinimg.com/originals/f9/aa/a4/f9aaa4a9a402503edd577d665fb22d5b.gif"
      alt="weather gif"
    />

    <p *ngIf="!isLoading">No data available 😔</p>

    <div *ngIf="isLoading">Loading...</div>
  </div>

  <div *ngIf="user?.name">
    <h2>User on the map:</h2>

    <div
      class="map"
      leaflet
      [leafletOptions]="mapService.mapOptions"
      [leafletLayer]="mapService.layer"
    >
      >
    </div>
  </div>

  <div>
    <h2>Hourly weather for today:</h2>

    <div class="chart-container">
      <canvas id="temperatureChart"></canvas>
    </div>
  </div>
</div>
