.red-text {
  color: #a80000;
  border: 1px solid #a80000;
}
.green-text {
  color: #00a835;
  border: 1px solid #00a835;
}

.message {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;

  position: absolute;
  top: 0;
  right: 0;
  margin: 40px;

  text-align: center;
}

.text {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;

  background-color: #fff;
}
